body {
  /* background-image: url("img.jpg");
           background-repeat: no-repeat;
           background-size: cover; */
  /* background-position: center; */
  /* background: linear-gradient( 135deg, red,blue); */
}

.container {
  width: 500px;
  border: 2px solid blue;
  border-radius: 20px;
  background-color: aliceblue;
  box-shadow: 10px 10px 25px #000;
  height: 800px;
  
  /* display: inline-block;
  margin: 10px; */
}
#myIMg {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.container div {
  padding: 20px;
  text-align: center;
}
.container h2 {
  font-size: 40px;
  color: rgb(12, 4, 111);
  text-transform: lowercase;
}
a {
  text-decoration: none;
}
.container button {
  border: none;
  padding: 20px;
  background: linear-gradient(35deg, rgb(152, 13, 120), rgb(215, 17, 255));
  border-radius: 20px;
  color: #fff;
}
table {
  border-collapse: collapse;
  width: 300px;
}

thead {
  background-color: rgb(9, 90, 240);
}
thead th {
  color: #fff;
}
th,
td {
  text-align: center;
  border-bottom: 2px solid #00000059;
}

/*  */
tbody tr:nth-child(odd) {
  background-color: rgb(158, 88, 3);
}

section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 100vh;
  align-items: flex-start;
}
