* {
  padding: 0;
  margin: 0;
}

header {
  background-color: rgb(2, 2, 60);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
  padding: 20px;
  border-radius: 20px;
  transition: background-color .5s; 
}
header:hover  {
 background-color: brown;
}


header h1:nth-child(1) {
  transition: background-color .5s; 
  font-size: 30px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main {
  display: flex;
  gap: 60px;
  margin-top: 10px;
  padding: 5px;
}

aside {
  background-color: rgb(2, 30, 108);
  color: aliceblue;
  padding: 10px 100px 50px 10px;
  border-radius: 20px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  order: 2;
}

aside ul {
  list-style-type: none;
}

aside li {
  padding: 30px 40px;
  font-size: 20px;
}

aside button {
  width: 80%;
  background-color: rgb(93, 149, 238);
  border: 0;
  color: aliceblue;
  padding: 10px 20px;
  border-radius: 10px;
}

.main-content {
  order: 1;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-content div:nth-child(1) {
  display: flex;
  justify-content: space-evenly;
}

.main-content div:nth-child(1) div {
  padding: 40px;
  background-color: antiquewhite;
  border-radius: 20px;
  border-top: 4px solid rgb(93, 149, 238);
}

.main-content div:nth-child(1) div:nth-child(1) {
  order: 3;
}
.main-content div:nth-child(2) {
  background-color: bisque;
  padding: 40px 20px;
  border-radius: 20px;
}

.main-content div:nth-child(2) h3 {
  padding: 30px 0;
  font-size: 20px;
}

.main-content div:nth-child(2) p {
  font-size: 20px;
}

.main-content div:nth-child(1) {
               transition: all 2s;
}
.main-content div:nth-child(1):hover div:nth-child(1) {
  order: 3;
  transform: translate(100px ,0)


}